.App {
  background: #f3f7fa;
  height: 100%;
}

.logo {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

.main {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  flex-direction: column;
}

body{
  background: #f3f7fa!important;

}

